{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="block block-bordered-lg">
  <div class="container text-center app-translate-15" data-transition="entrance">
    <blockquote class="pull-quote">
      <img class="rounded-circle" src="{% static 'andrew-w-singer.jpg' %}">
      <cite>In Memory of Andrew W. Singer (1942—2013)</cite>
      <p>On January 7, 2013 Andrew W. Singer ("Andy") passed away from cancer in California. This was a significant milestone for DC Python, because Andy played an enormous role in the successful completion and acceptance of our 501(c)(3) non-profit application.</p>
      <p>The only person to contribute more was our secretary and treasurer Amy Clark; and while she was not a University of Pennsylvania Wharton School of Business undergraduate or a graduate in the top 2% of Harvard Law School; or a tax attorney with decades of experience from Covington &amp; Burling, an extremely prestigious law firm headquartered in Washington, D.C., Andy was all of these --and much more. He volunteered endless hours of legal guidance and consultation to Amy, and skillfully authored our entire application. Amy compiled, organized and submitted this formidable application, and as a result of her tireless efforts and his expertise, it was approved and accepted on first submission without complication or question.</p>
      <p>In addition to his invaluable support and involvement in the submission and subsequent acceptance of our 501 (c) 3 ruling status from the IRS, Andy was also extremely instrumental in DC Python's organization and facilitation of the highly successful 2008 Plone Conference. He continued to provide--at absolutely no charge--legal counsel, support and guidance in and around every aspect of our organization's day to day activities and special events. Alex, Amy and the entire DC Python community have benefited greatly from his generousity, care, and truly amazing talent, skill and expertise. His loss is a loss to us all.</p>
      <p>To learn more about Andy's extensive contribution to our government and legal system, please see <a href="https://www.google.com/search?q=&quot;Andrew W. Singer&quot;+covington+burling">these search results</a>.</p>
    </blockquote>
  </div>
</div>

{% endblock %}
