{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>
      
        DC Python
 
    </title>

    
      <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
      <link href="{% static 'toolkit-minimal.css' %}" rel="stylesheet">
      <link href="{% static 'application-minimal.css' %}" rel="stylesheet">
      <link href="{% static 'dcpython.css' %}" rel="stylesheet">

      <link rel="icon" href="{% static 'favicon.ico' %}">

    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      /* …curses ios, etc… */
      @media (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
        body {
          width: 1px;
          min-width: 100%;
          *width: 100%;
        }
        #stage {
          height: 1px;
          overflow: auto;
          min-height: 100vh;
          -webkit-overflow-scrolling: touch;
        }
      }
    </style>
  </head>


<body>
  



<div class="container pt-4">
  <nav class="navbar navbar-light navbar-expand-sm text-uppercase app-navbar mb-5">
    <a class="navbar-brand mr-auto" href="../">
      <span>DC Python</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'donate' %}">Donate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}#meetup">Meetup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'team' %}">Team</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
</nav>
</div>

{% block content %}

{% endblock %}

<div class="block app-block-footer">
  <div class="container">
    <div class="row">
       <div class="col-sm-6" id="about">
        <h6 class="text-uppercase">About</h6>
        <p class="lead mb-5">We promote and support the research, development and use of Python software in DC, Maryland and Virginia. We support the education of all Python users by organizing and hosting frequent instructional events to foster and facilitate academic research, development and learning as well as professional growth and networking.</p>

        <p class="mb-5"><a href="https://www.python.org/about/legal/">Python and PyCon are trademarks or registered trademarks of the Python Software Foundation.</a></p>

        <ul class="list-unstyled list-spaced mb-5">
          <li><small><a href="{% url 'coc' %}">Code of Conduct</a></small></li>
          <li><small><a href="{% url 'donate' %}">Donate</a></small></li>
          <li><small><a href="{% url 'legal' %}">Legal</a></small></li>
        </ul>

        <ul class="list-unstyled list-spaced">
          <li class="mb-5">&copy; ZPUGDC, Inc. 2018</li>
        </ul>
      </div>
      <div class="col-sm-2 mb-4">
        <ul class="list-unstyled list-spaced mb-5">
          <li><h6 class="text-uppercase">Presentations</h6></li>
          <li><a target="_blank" href="https://www.slideshare.net/aclark/presentations">Slideshare</a></li>
        </ul>
      </div>
      <div class="col-sm-2 mb-4">
        <ul class="list-unstyled list-spaced">
          <li class="mb-5">
            <a href="https://facebook.com/dcpython4life" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
            <a href="https://github.com/dcpython" target="_blank"><i class="fa fa-github fa-2x"></i></a>
            <a href="https://www.linkedin.com/company/dcpython" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
            <a href="https://twitter.com/dcpython" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
          </li>
          <li><small>In Memory of <a href="{% url 'aws' %}">Andrew W. Singer</a></small></li>
        </ul>
      </div>
    </div>
  </div>
</div>

    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'toolkit.js' %}"></script>
    <script src="{% static 'application.js' %}"></script>
    <script src="{% static 'dcpython.js' %}"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>
    <script src="https://js.stripe.com/v2/"></script>
    <script src="//use.fontawesome.com/ff20ba2d1c.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112812086-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112812086-1');
    </script>
</body>
</html>

