<div class="block app-block-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6" id="about">
        <h6 class="text-uppercase">About</h6>
        <p>We promote and support the research, development and use of Python software in DC, Maryland and Virginia. We support the education of all Python users by organizing and hosting frequent instructional events to foster and facilitate academic research, development and learning as well as professional growth and networking.</p>
        <ul class="list-unstyled list-spaced mt-5">
          <li>&copy; ZPUGDC, Inc. 2018.</li> 
        </ul>
      </div>
      <div class="col-sm-2 mb-4">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase"><a class="text-white" href="{% url 'coc' %}">Code of Conduct</a></h6></li>
        </ul>
      </div>
      <div class="col-sm-2 mb-4">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase"><a class="text-white" href="{% url 'legal' %}">Legal</a></h6></li>
        </ul>
      </div>
      <div class="col-sm-2 mb-4">
        <ul class="list-unstyled list-spaced">
          <li class="mb-5">
            <a class="text-white" href="https://facebook.com/dcpython4life" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
            <a class="text-white" href="https://github.com/dcpython" target="_blank"><i class="fa fa-github fa-2x"></i></a>
            <a class="text-white" href="https://www.linkedin.com/company/dcpython" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
            <a class="text-white" href="https://www.slideshare.net/aclark/presentations" target="_blank"><i class="fa fa-slideshare fa-2x"></i></a>
            <a class="text-white" href="https://twitter.com/dcpython" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
