{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="block app-block-intro">
  <div class="container text-xs-center">
    <img src="{% static 'dcpython.png' %}" class="mb-3 col-4">
    <p class="lead mb-5 pb-5">We promote the research and development of Python Software and the education of its users.</p>
    <img src="{% static 'background.jpg' %}">
  </div>
</div>

<div class="block block-bordered-lg">

<div class="block app-block-intro">
  <div class="container">
        <h1 class="text-center pb-5 mb-5">Upcoming Events</h1>
        <div class="row">
        {% for event in events %}
          <div class="col-sm-4">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title text-center">{{ event.name }}</h3>
                <h4 class="text-info text-center">{{ event.when }}</h4>
                <p class="card-text">{{ event.description|safe }}</p>
                <p class="text-center"><a target ="_blank" href="{{ event.link }}" class="btn btn-primary"><i class="fa fa-meetup"></i> View Meetup</a></p>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
  </div>
</div>

</div>

{% endblock %}
