{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="block app-block-intro">
  <div class="container">
    <h1 class="block-title mb-0 text-uppercase app-myphone-brand text-center">Team</h1>
    <p class="lead">DC Python is organized and maintained by talented and dedicated group of <strong>volunteers</strong> and a mission-driven and focused <strong>volunteer board of directors</strong>.</p>
  </div>
</div>

{% for lead in leads %}

<div class="block block-bordered-lg">
  <div class="container text-center app-translate-15" data-transition="entrance">
    <blockquote class="pull-quote">
      <img class="rounded-circle" src="{{ lead.photo_url }}">
      <cite><a href="https://www.meetup.com/members/{{ lead.member_id}}">{{ lead.name }}</a></cite>
      <p><strong>{{ lead.role }}</strong></p>
      <p>{{ lead.bio }}</p>
    </blockquote>
  </div>
</div>

{% endfor %}

{% endblock %}
