{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="block app-block-intro">
  <div class="container">
    <h1 class="block-title mb-0 text-uppercase app-myphone-brand text-center">Team</h1>
    <p class="lead">DC Python is organized and maintained by talented and dedicated group of <strong>volunteers</strong> and a mission-driven and focused <strong>volunteer board of directors</strong>.</p>
  </div>
</div>

<h2 class="block-title mb-3 text-uppercase app-myphone-brand text-center">Board Members</h2>

{% for boardmember in boardmembers %}

<div class="block block-bordered-lg">
  <div class="container text-center app-translate-15" data-transition="entrance">
    <blockquote class="pull-quote">
      <img class="rounded-circle" src="{{ boardmember.photo_url }}">
      <cite><a href="https://www.meetup.com/members/{{ boardmember.member_id}}">{{ boardmember.name }}</a></cite>
      <p><strong>{{ boardmember.bio }}</strong></p>
    </blockquote>
  </div>
</div>

{% endfor %}

<h2 class="block-title mb-3 text-uppercase app-myphone-brand text-center">Event Organizers</h2>

{% for organizer in organizers %}

<div class="block block-bordered-lg">
  <div class="container text-center app-translate-15" data-transition="entrance">
    <blockquote class="pull-quote">
      <img class="rounded-circle" src="{{ organizer.photo_url }}">
      <cite><a href="https://www.meetup.com/members/{{ organizer.member_id}}">{{ organizer.name }}</a></cite>
      <p><strong>{{ organizer.bio }}</strong></p>
    </blockquote>
  </div>
</div>

{% endfor %}

{% endblock %}
